<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TURING | {{ algorithm.name }}</title>

    <link rel="icon"
      type="image/png"
      href="{% static 'public/img/favicon-96x96.png' %}">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'public/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'public/css/sb-admin.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'public/css/plugins/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'public/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'public/fontcustom/fontcustom.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if contributor %}
                    <a class="navbar-brand" href="{% url 'contributor:profile' %}">Hi {{contributor.name}}!</a>
                {% else %}
                    <a class="navbar-brand" href="{% url 'public:home' %}">Welcome to TURING</a>
                {% endif %}
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    {% if contributor %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{contributor.name}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'contributor:profile' %}"><i class="fa fa-fw fa-user"></i> Profile</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'public:sign-out' %}"><i class="fa fa-fw fa-sign-out"></i> Sign Out</a>
                            </li>
                        </ul>
                    {% else %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Guest <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'public:sign-in' %}"><i class="fa fa-fw fa-sign-in"></i> Sign In</a>
                            </li>
                        </ul>
                    {% endif %}
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="{% url 'public:home' %}"><i class="fa fa-fw fa-home"></i> Home</a>
                    </li>
                    <li class="active">
                        <a href="{% url 'public:algorithms' %}"><i class="fa fa-fw fa-sort-numeric-asc"></i> Algorithms</a>
                    </li>
                    <li>
                        <a href="{% url 'public:workflows' %}"><i class="fa fa-fw fa-code-fork"></i> Workflows</a>
                    </li>
                    {% if not contributor %}
                        <li>
                            <a href="{% url 'public:contribute' %}"><i class="fa fa-fw fa-edit"></i> Contribute</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'public:faq' %}"><i class="fa fa-fw fa-question-circle"></i> FAQs</a>
                    </li>
                    <li>
                        <a href="{% url 'public:about' %}"><i class="fa fa-fw fa-info-circle"></i> About</a>
                    </li>
                    <li>
                        <a href="{% url 'public:contact' %}"><i class="fa fa-fw fa-envelope"></i> Contact Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{algorithm.name}} <small>{{algorithm.summary}}</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <a class="fa fa-arrow-left" href="{% url 'public:algorithms' %}"></a> Back
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                {% if algorithm.contributor %}
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Contributor</h3>
                            <div class="col-lg-1">
                                <img id="profile-picture" style="width:60px; height:60px; border-radius: 30px;" src="">
                            </div>
                            <div class="col-lg-4">
                                <p class="lead">
                                    <b>{{algorithm.contributor.name}}</b>
                                    <br>
                                    <small>{{algorithm.contributor.organization}}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!-- /.row -->

                {% if algorithm.description %}
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Description</h3>
                            <p class="lead">{{algorithm.description}}</p>
                        </div>
                    </div>
                {% endif %}
                <!-- /.row -->

                {% if algorithm.website %}
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Read more on {{ algorithm.name }} website</h3>
                            <p class="lead"><a href="{{ algorithm.website }}" target="_blank">{{ algorithm.website }}</a></p>
                        </div>
                    </div>
                {% endif %}
                <!-- /.row -->

                {% if versions %}
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Use now</h3>
                        </div>
                        <div class="col-lg-1"><p class="lead">Version:</p></div>
                        <div class="col-lg-2">
                            <select class="form-control" id="selected-version">
                                {% for version in versions %}
                                    <option>{{ version }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-primary" id="launch-button">Launch</button>
                        </div>
                    </div>
                {% endif %}
                <!-- /.row -->

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'public/js/jquery.js' %}"></script>
    <script src="{% static 'public/js/jquery.md5.js' %}"></script>
    <!-- script for the profile picture -->
    <script>
        var email = "{{algorithm.contributor.email}}";
        email = email.trim().toLowerCase();
        var src = "http://www.gravatar.com/avatar/" + $.md5(email) + "?s=150&d=mm";
        $('#profile-picture').attr("src", src)
    </script>
    <!-- script for the launch button -->
    <script>
        var docker_image = "{{algorithm.docker_image}}"
        var selected_version = $('#selected-version').find(":selected").text();
        $('#launch-button').click(function(){
            $('#launch-button').attr('disabled', true);
            $('#launch-button').html('please wait ..');

            var jqxhr = $.get("/algorun/?docker_image=" + docker_image + ":" + selected_version)
	            .done(function(data,textStatus,jqXHR) {
                    data = JSON.parse(data);
                    if(data['success'] == true){
                        port_number = data['response'];
                        function openTab(){
                            window.open('/algorun/view/' + data['response'], '_self');
                            $('#launch-button').removeAttr('disabled');
                            $('#launch-button').html('Launch');
                        }
                        setTimeout(openTab, 3000);
                    }
                })
                .fail(function(data) {
                    alert(JSON.stringify(data));
                })
        });
    </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'public/js/bootstrap.min.js' %}"></script>
</body>

</html>
