<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TURING | FAQs</title>

    <link rel="icon"
      type="image/png"
      href="{% static 'public/img/favicon-96x96.png' %}">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'public/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'public/css/sb-admin.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'public/css/plugins/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'public/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'public/fontcustom/fontcustom.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if contributor %}
                    <a class="navbar-brand" href="{% url 'contributor:profile' %}">Hi {{contributor.name}}!</a>
                {% else %}
                    <a class="navbar-brand" href="{% url 'public:home' %}">Welcome to TURING</a>
                {% endif %}
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    {% if contributor %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{contributor.name}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'contributor:profile' %}"><i class="fa fa-fw fa-user"></i> Profile</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'public:sign-out' %}"><i class="fa fa-fw fa-sign-out"></i> Sign Out</a>
                            </li>
                        </ul>
                    {% else %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Guest <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'public:sign-in' %}"><i class="fa fa-fw fa-sign-in"></i> Sign In</a>
                            </li>
                        </ul>
                    {% endif %}
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="{% url 'public:home' %}"><i class="fa fa-fw fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="{% url 'public:algorithms' %}"><i class="fa fa-fw fa-sort-numeric-asc"></i> Algorithms</a>
                    </li>
                    <li>
                        <a href="{% url 'public:workflows' %}"><i class="fa fa-fw fa-code-fork"></i> Workflows</a>
                    </li>
                    {% if not contributor %}
                        <li>
                            <a href="{% url 'public:contribute' %}"><i class="fa fa-fw fa-edit"></i> Contribute</a>
                        </li>
                    {% endif %}
                    <li class="active">
                        <a href="{% url 'public:faq' %}"><i class="fa fa-fw fa-question-circle"></i> FAQs</a>
                    </li>
                    <li>
                        <a href="{% url 'public:about' %}"><i class="fa fa-fw fa-info-circle"></i> About</a>
                    </li>
                    <li>
                        <a href="{% url 'public:contact' %}"><i class="fa fa-fw fa-envelope"></i> Contact Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            TURING <small>Algorithms for Computation with Finite Dynamical Systems</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-question-circle"></i> Frequently Asked Questions
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h4>Do I need to install TURING on my computer?</h4>
                        <div class="well">
                            <b>No.</b><br>
                            All algorithms published on TURING are accessible immediately from the web browser.
                            If you want to contribute by publishing your algorithms here,
                            you will need to use AlgoRun.
                        </div>
                    </div>
                </div>
                <!-- /.row -->


                <div class="row">
                    <div class="col-lg-12">
                        <h4>What is AlgoRun?</h4>
                        <div class="well">
                            AlgoRun is a dedicated packaging system for implemented algorithms,
                            using Docker technology. Implemented algorithms, packaged with AlgoRun,
                            can be executed through a user-friendly interface directly from a web browser or
                            via a standardized RESTful web API to allow easy integration into more complex workflows.
                            The packaged algorithm includes the entire software execution environment,
                            thereby eliminating the common problem of software dependencies and the irreproducibility
                            of computations over time. ( read more on AlgoRun <a href="http://algorun.org" target="_blank">website</a> )
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h4>What is Docker?</h4>
                        <div class="well">
                            Docker is the world's leading software containerization platform.
                            Docker containers wrap a piece of software in a complete filesystem that contains everything
                            needed to run: code, runtime, system tools, system libraries – anything that can be
                            installed on a server. This guarantees that the software will always run the same,
                            regardless of its environment. ( read more on Docker <a href="http://www.docker.com" target="_blank">website</a> )
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h4>How is Docker different from a Virtual Machine (VM)?</h4>
                        <div class="well">
                            The below image summarizes how Docker is different from virtual machines from
                            a technical point of view. Docker is very lightweight compared to a virtual machine,
                            which makes it the ideal solution for wrapping software dependencies in a standard unit
                            that runs on any machine where Docker engine is installed.
                            Containers running on a single machine share the same operating system kernel;
                            they start instantly and use less RAM. Images are constructed from layered filesystems
                            and share common files, making disk usage and image downloads much more efficient.
                            <div style="text-align: center">
                                <img src="{% static 'public/img/docker-vs-vm.png' %}" style="width: 70%">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h4>Why do you use Docker?</h4>
                        <div class="well">
                            Because Docker containers are <b>lightweight</b>, <b>open</b> and <b>secure by default</b>.
                            These characteristics enables TURING to support a new model of crowd-sourced mathematical
                            algorithms, that are reproducible and easy to be packaged by authors with no background on
                            computer science.

                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h4>Do I need to learn a new programming language to contribute?</h4>
                        <div class="well">
                            <b>No.</b><br> To publish an algorithm/pipeline on TURING, all you need to do is to use AlgoRun
                            to package your already-impleneted algorithm into a Docker container.
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h4>Do I need to be a Docker expert to package my algorithm? </h4>
                        <div class="well">
                            <b>No.</b><br> AlgoRun makes it easy for developers with no background on Docker to quickly
                            get the benefits of the packaging system without getting into the details of Docker.
                            Refer to the <a href="http://algorun.org/documentation">documentation</a> on AlgoRun website to get started with examples.
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h4>How long does it take to package my algorithm and publish it here?</h4>
                        <div class="well">
                            Given that your algorithm is already implemented,
                            it takes only <b>5 minutes</b> to package with AlgoRun once you are comfotable with the documentation.
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h4>What is AlgoPiper?</h4>
                        <div class="well">
                            AlgoPiper is a web-based drag-n-drop visual tool to create modular and
                            reusable computational pipelines from AlgoRun algorithms.
                            AlgoPiper makes troubleshooting complex pipelines a few clicks process.
                            ( read more on <a href="http://algopiper.org" target="_blank">AlgoPiper</a> website )
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <h4>Is there any hidden costs for using TURING?</h4>
                        <div class="well">
                            <b>No.</b><br>
                            Unless otherwise specified by an algorithm author for commercial use,
                            TURING is FREE and will always be free to empower our community of researchers with
                            the latest developments in finite dynamical systems algorithms within a few clicks.
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'public/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'public/js/bootstrap.min.js' %}"></script>

</body>

</html>
