<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TURING | {{ contributor.name }}</title>

    <link rel="icon"
      type="image/png"
      href="{% static 'public/img/favicon-96x96.png' %}">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'public/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'public/css/sb-admin.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'public/css/plugins/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'public/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'public/fontcustom/fontcustom.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'public:home' %}">TURING</a> |
                <a class="navbar-brand" href="{% url 'contributor:profile' %}">My Profile</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ contributor.name }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'public:faq' %}"><i class="fa fa-fw fa-question-circle"></i> FAQs</a>
                        </li>
                        <li>
                            <a href="{% url 'public:contact' %}"><i class="fa fa-fw fa-info-circle"></i> Contact</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'public:sign-out' %}"><i class="fa fa-fw fa-sign-out"></i> Sign Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="{% url 'contributor:profile' %}"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li class="active">
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo1"><i class="fa fa-fw fa-sort-numeric-asc"></i> Algorithms <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo1" class="collapse">
                            <li>
                                <a href="{% url 'contributor:algorithms-how-to' %}">How-to</a>
                            </li>
                            <li>
                                <a href="{% url 'contributor:my-algorithms' %}">My Algorithms</a>
                            </li>
                            <li>
                                <a href="{% url 'contributor:submit-algorithm' %}">Publish Algorithm</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo2"><i class="fa fa-fw fa-code-fork"></i> Workflows <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo2" class="collapse">
                            <li>
                                <a href="#">How-to</a>
                            </li>
                            <li>
                                <a href="#">My Workflows</a>
                            </li>
                            <li>
                                <a href="#">Submit Workflow</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            TURING <small>Algorithms for Computation with Finite Dynamical Systems</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-key"></i> How-to Guide
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <p class="lead">
                            TURING utilized AlgoRun packaging system to ensure reliable algorithm execution.
                            AlgoRun offers you the following:
                            <ul class="lead">
                                <li>You are not going to change your code. Yay!</li>
                                <li>You are not going to learn a new programming language.</li>
                                <li>The underlying Docker technology is
                                    going to ensure that your algorithm will always work the same way it works on
                                    your machine. No broken libraries or missing dependencies.
                                </li>
                            </ul>
                        </p>
                        <p class="lead">
                            To start-off, navigate to <a href="http://algorun.org/documentation" target="_blank">AlgoRun</a>
                            and:
                            <ol class="lead">
                                <li>Read the How-to package your software section. Get inspired by reading the examples section.</li>
                                <li>Package your algorithm</li>
                                <li>Push your algorithm Docker image to <a href="https://hub.docker.com/" target="_blank">Docker Hub</a>.
                                    (<a href="https://washraf.gitbooks.io/the-docker-ecosystem/content/Chapter%203/Section%205/push_image_to_docker_hub.html">see how?</a>)
                                </li>
                                <li> Publish your algorithm here!</li>
                            </ol>
                        </p>
                        <p class="lead">
                            Need help?
                            <br>
                            <a href="mailto:abdelrahman@engr.uconn.edu">Drop us an email</a>
                            and we will get in touch in person. We can't wait to see your algorithm here <i class="fa fa-smile-o"></i>
                        </p>
                    </div>
                </div>


            </div>
            <!-- /.container-fluid -->
            </div>
    </div>
    <!-- /#wrapper -->


    <!-- jQuery -->
    <script src="{% static 'public/js/jquery.js' %}"></script>
    <script src="{% static 'public/js/jquery.md5.js' %}"></script>
    <script>
        var email = "{{contributor.email}}"
        email = email.trim().toLowerCase()
        var src = "http://www.gravatar.com/avatar/" + $.md5(email) + "?s=150&d=mm";
        $('#profile-picture').attr("src", src)
    </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'public/js/bootstrap.min.js' %}"></script>

</body>

</html>
